---
import Layout from "../layouts/Layout.astro"
---
<Layout titre="Accueil">
	<section class="text-center mb-12">
		<h1 class="text-4xl md:text-5xl font-bold mb-4 text-purple-100 drop-shadow">Agence ImmoPlus</h1>
		<p class="text-lg text-slate-100 mb-8 max-w-2xl mx-auto drop-shadow">Bienvenue sur ImmoPlus, votre partenaire de confiance pour trouver, vendre ou louer un bien immobilier. Découvrez nos offres exclusives et bénéficiez de l'accompagnement d'une équipe professionnelle et à l'écoute.</p>
		<a href="/offres" class="inline-block bg-purple-800 text-white px-6 py-3 rounded-lg shadow hover:bg-[#a78bfa] transition font-semibold">Voir les offres immobilières</a>
	</section>
</Layout>
