---
import PbImage from "./PbImage.astro";
const { offre } = Astro.props;
---

<div
  class={"offre-card rounded-lg shadow-lg w-72 p-6 flex flex-col items-center border-l-8 border-[#7c3aed] transition-colors duration-300 " + (offre.Favori ? 'bg-violet-100' : 'bg-white')}
  data-favori={offre.Favori}
>
  <div class="font-semibold text-lg mb-4 text-black">{offre.Nom_maison}</div>
  {offre.image && (
    <PbImage record={offre} recordImage={Array.isArray(offre.image) ? offre.image[0] : offre.image} width={400} height={300} />
  )}
</div>
